<div class="container signin text-center">
<h1 align="center">Login</h1>
  <br/>
<div class="table table-bordered text-center signin-inner">
<%= render 'form' %>

<%= link_to 'Back', new_user_path %>
  <br/>
</div>
  <div class="signup-inner-bottom">
    계정이 없으신가요? <%= link_to ' 회원가입', new_user_path %>
  </div>
</div>